<a href="https://colab.research.google.com/github/amoralphchristian/CPE009A-OOP/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python Indentation**

In [8]:
if 5 > 2:
  print("Five is greater than two")

Five is greater than two

#**Python Comments**

In [9]:
#This is a comment
print("hello world")

hello world

# **Python Variables**

In [16]:
#This is a single variable with a value
x = 1
#This is a multiple variable with multiple value
a,b = 0,-1
print(a)
print(b)
print(x)

b = "Sally"

print(b)

0
-1
1
Sally

#**Python Casting**

In [20]:
b = "Sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

#**type() Function**

In [21]:
#type() Function
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

#**Double Quotes or SIngle Quotes**

In [19]:
y = "John"
print(y)

y = 'John'
print(y)

John
John

#**Case Sensitive**

In [22]:
a = 4
A = "Sally"
#A will not overwrite a

#**Multiple Variable with multiple values**

In [23]:
x,y,z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

#**Multiple Variable with one value**

In [24]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

#**Output Variable**

In [26]:
x = "enjoying"
print("Python programming is " + x)

#Other way
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python programming is enjoying
Python is enjoying

#**Arithmetic Operations**

In [27]:
x = 5
y = 3
print(x + y)

sum = x + y
sum

8

8

#**Assignment Operators**

In [28]:
a,b,c = 0,-1,6
c %= 3
c

0

#**Comparison Operator**

In [30]:
x = 1
y = 1

x == y

True

#**Logical Operator**

In [33]:
x = 1
x < 5 and x < 10

True

#**Identity Operator**

In [37]:
a,b,c = 0,-1,5
a is c

False