<a href="https://colab.research.google.com/github/Amo-RalphChristian/CPE009A-OOP/blob/main/Demo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **bool( ) Function**

In [5]:
print(bool("Hello"))
print(bool(15))

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

True
True

False

# **Function can return a boolean**

In [7]:
def myFunction():
  return True

print(myFunction())

if myFunction():
  print("YES!")
else:
  print("NO!")

True
YES!

# **TRY !!**

In [9]:
print (10 > 9)

a = 6
b = 7

print(a == b)
print(a != a)

True
False
False

# **Python Operators**

In [10]:
print(10 + 5)
print(10 - 5)
print(10 * 5)
print(10 / 5)
print(10 % 5)
print(10 // 3)
print(10 ** 2)

15
5
50
2.0
0
3
1000

# **Bitwise Operations**

In [18]:
a = 60
b = 13

print(a & b)
print(a | b)
print(a ^ b)
a << 2

12
61
49

240

# **Python Assignment Operator**

In [28]:
x = 1
x += 3
print(x)
x = 1
x -= 3
print(x)
x = 1
x *= 3
print(x)
x = 1
x /= 3
print(x)
x = 1
x %= 3
print(x)

4
-2
3
0.3333333333333333
1

# **Logical Operators**

In [33]:
y = 60
z = 13

print(y > z)
print(x > y)
print(y > z and z > y)
print(y > z or z > y)
print(not(y > z and z < y))

True
False
False
True
False

# **Identity Operator**

In [34]:
print(y is z)
print(y is not z)

False
True

# **Looping Statement (For Loop)**

In [74]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

# **Break Statement 1**

In [75]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

# **Break Statement 2**

In [76]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

# **Display only thursday**

In [86]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

# **Looping through a string**

In [87]:
for x in "week":
  print(x)

w
e
e
k

# **The range() Function**

In [88]:
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

# **Nested Loops**

In [89]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# **Example 5**

In [90]:
i = 1
while i < 6:
  print(i)
  i += 1 #i = i+1 Assignment Operator

1
2
3
4
5

# **The Break Statement**

In [91]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

# **The Continue Statement**

In [92]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

# **The Else Statement**

In [93]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# **TRY 1**

In [68]:
x = 0

while x <= 10:
  print("Hello ", x)
  x += 1

Hello  0
Hello  1
Hello  2
Hello  3
Hello  4
Hello  5
Hello  6
Hello  7
Hello  8
Hello  9
Hello  10

# **TRY 2**

In [84]:
for x in range(10):
  if x >= 3:
    print(x)

3
4
5
6
7
8
9